body {
    margin: 0 !important;
  }
  
.container {
    width: 1200px !important;
    margin: 0 auto !important;
}
.navbar-laravel {
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}